.jobs
{
    padding: 60px 0;

    h1
    {
        padding: 60px 0;
    }

    .jobs_items
    {
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 12px;
        margin-bottom: 12px;

        figure.large, figure.min
        {
            position: relative;

            img
            {
                width: 100%;
                object-fit: cover;
            }
            figcaption
            {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: rgba(000,000,000, 0.7);
                color: var(--color-white);
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
        }
        figure.large
        {
            background-color: var(--color-gray-clean);
            flex-basis: 39%;
            margin-right: 1%;

            img
            {
                max-height: 280px;
            }

            &:nth-child(2)
            {
                background-color: green;
                border: 4px solid var(--color-first);
            }
        }
        figure.min
        {
            background-color: var(--color-first);
            flex-basis: 60%;

            img
            {
                max-height: 320px
            }
        }
        &:nth-of-type(2n+1) figure.large
        {
            background-color: green;
            margin-left: 1%;
            margin-right: 0;
        }
        &:nth-child(odd) {
            flex-direction: row-reverse;
        }
    }
}
